---
- name: Check epel
  shell: yum-config-manager epel | grep -q 'enabled = True'
  changed_when: False
  register: epel_status

- name: Install epel
  command: amazon-linux-extras install epel
  when: epel_status.rc != 0

- name: Enabled epel
  command: yum-config-manager --enable epel
  when: epel_status.rc != 0
